---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
export interface Props {
  title?: string;
  description?: string;
}
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚙️</text></svg>">
    <meta name="color-scheme" content="dark light" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta property="og:site_name" content={SITE_TITLE} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
